body {
    font-family: "Roboto", sans-serif;
  }
  
  .header_top {
    background: #0f92ea;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .top_left p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .top_right {
    text-align: right;
  }
  
  .top_right p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .header_section {
    background: #f8f9fa;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-top: 40px;
  }
  
  .logo {
    margin-left: -33px;
  }
  
  .header_menu {
    margin-right: -32px;
  }
  
  .header_menu ul {
    padding: 0;
    margin: 0;
  }
  
  .header_menu ul li {
    display: inline-block;
    position: relative;
  }
  
  .header_menu ul li ul {
    position: absolute;
    background: #fff;
    left: 0;
    top: 108%;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
  }
  
  .header_menu ul li ul li {
    border-bottom: 1px solid #000;
    padding-right: 29px;
  }
  
  .header_menu ul li ul li a {
    padding: 4px;
    line-height: 42px;
    color: #000;
  }
  
  .header_menu ul li:hover ul {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .header_menu ul a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 60px;
    padding: 24px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .header_menu ul a:hover {
    color: #0f92ea;
  }

  
  .carousel-control-next,
  .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
    background: transparent;
    border: none;
  }
  
  .carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
	top: 117px;
    }
  
  .carousel {
    position: relative;
   
  }
  
  .banner_content {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
    text-align: left;
  }
  
  .banner_content h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 31px;
  }
  
  .banner_content p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 50px;
  }
  
  .banner_content .btn {
    font-weight: 300;
    padding: 8px 13px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .banner_content .btn:hover {
    background: #fff;
    color: #000;
  }
  
  .cards_section {
      margin-bottom: 100px;
      margin-top: 44px;
      position: relative;
  }
  
  .cards_section .cardes {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 20px;
  }
  
  .cards_section .cardes .c_icons i {
    font-size: 64px;
    margin: 20px 0;
  }
  
  .cards_section .cardes h4 {
    font-size: 21px;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .cards_section .cardes p {
    margin-top: 20px;
    font-size: 15px;
    padding: 0 20px;
  }
  
  .card {
    background: #f9f9f9;
    padding-bottom: 20px;
  }
  
  .card p {
    font-size: 14px;
    padding: 0 20px;
  }
  
  .diploma_title h3 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .diploma_title h3 span {
    color: #0f92ea;
  }
  
  .diploma_title p {
    font-size: 14px;
  }
  
  .bnt2 {
    font-size: 14px;
    padding: 9px 20px;
    border-radius: 23px;
    background: #0f92ea;
    border: 1px solid #0f92ea;
    margin-top: 20px;
  }
  
  .form_section {
    background-image: url(https://sktperfectdemo.com/demos/education/wp-content/themes/LMS/blocks/home_section3/assets/img/home-section3-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .forms_left h2 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .forms_left h2 span {
    color: #0f92ea;
  }
  
  .forms_left p {
    font-size: 14px;
  }
  
  .form_right h2 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .form_right h2 span {
    color: #fe9d4a;
  }
  
  .form_right p {
    font-size: 14px;
  }
  
  input {
    width: 46%;
    padding: 9px 10px;
    margin: 10px;
    outline: none;
    border: 1px solid transparent;
  }
  
  .form_btn {
    margin: 25px;
  }
  
  .btn5 {
    padding: 10px 37px;
    border-radius: 0 !important;
    background: #0f92ea;
    border: 1px solid #0f92ea;
    font-weight: bold;
  }
  
  .forms_border {
    height: 3px;
    width: 60px;
    background: #fff;
  }
  
  form {
    margin-left: -25px;
  }
  
  .icons_form .f_icons i {
    width: 40px;
    height: 40px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    margin-right: 11px;
  }
  
  .icons_form .f_icons h4 {
    text-transform: uppercase;
    font-size: 18px;
    -webkit-transition: 0.3s;
    transition: 0.5s;
    font-weight: bold;
  }
  
  .icons_form .f_icons h4:hover {
    color: #000;
  }
  
  .icons_form .f_icons p {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-left: 51px;
    margin-bottom: 32px;
    margin-top: -7px;
  }
  
  .form_right {
    margin-left: 60px;
  }
  
  .lefts {
    margin-left: 60px;
  }
  
  .icons_form {
    margin-left: 54px;
  }
  
  .E_center {
	background: #f9f9f9;
	padding-bottom: 66px;
	border-left: 11px solid #e2e2e2;
	border-right: 11px solid #e2e2e2;
	margin-top: 11px;
	position: relative;
	padding: 48px 26px;
}
  
  .E_center::after {
    content: "";
    right: -13px;
    bottom: -10px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 11px;
    border-color: transparent transparent transparent #e2e2e2;
    -webkit-transform: rotate(291deg);
    transform: rotate(309deg);
  }
  
  .E_center::before {
    content: "";
    right: -17px;
    top: -10px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 18px;
    border-color: transparent transparent transparent #e2e2e2;
    -webkit-transform: rotate(291deg);
    transform: rotate(291deg);
  }
  
  .E_center h4 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
  }
  
  .E_center p {
    font-size: 14px;
  }
  
  .E_right {
    background: #0f92ea;
    padding: 20px;
  }
  
  .E_img {
    position: relative;
  }
  
  .E_img img {
    width: 100%;
    height: 250px;
    position: relative;
  }
  
  .E_img::before {
    content: "";
    right: -9px;
    top: 1px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 12px 12px;
    border-color: transparent transparent transparent #e2e2e2;
    -webkit-transform: rotate(291deg);
    transform: rotate(496deg);
  }
  
  .E_img::after {
    content: "";
    right: -10px;
    bottom: -2px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 9px 15px;
    border-color: transparent transparent transparent #e2e2e2;
    -webkit-transform: rotate(291deg);
    transform: rotate(472deg);
  }
  
  .event_icon h6 {
    font-size: 1rem;
    margin-top: 5px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  
  .event_icon i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 35px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-right: 8px;
  }
  
  .event_icon p {
    margin-bottom: 0;
    font-size: 14px;
    margin-left: 49px;
    margin-bottom: 11px;
  }
  
  .e_left {
    position: relative;
  }
  
  .e_left::before {
    content: "4 Nov";
    left: 0;
    top: 15px;
    position: absolute;
    width: 72px;
    height: 60px;
    background: #0f92ea;
    z-index: 99;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  
  .count_section {
    background-image: url(https://sktperfectdemo.com/demos/education/wp-content/themes/LMS/blocks/home_section5/assets/img/home-section5-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin-top: 94px !important;
  }
  
  .contentss {
    border: 2px solid #0f92ea;
    display: inline-block;
    width: 16%;
    margin-left: 41px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    height: 205px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .contentss:hover {
    background: #0f92ea;
    color: #fff;
  }
  
  .cout_i i {
    font-size: 36px;
    margin-top: 37px;
    margin-bottom: 12px;
  }
  
  .teams {
    text-align: center;
    width: 87%;
    position: relative;
  }
  
  .inner_img ul {
    padding: 0;
  }
  
  .inner_img ul li {
    display: inline-block;
    font-size: 19px;
  }
  
  .inner_img ul li a i {
    background: #fff;
    color: #0f92ea;
    padding: 8px;
    border-radius: 50%;
    margin: 5px;
  }
  
  .teams_img img {
    width: 100%;
  }
  
  .inner_img {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(22, 152, 238, 0.8);
    height: 100%;
    width: 100%;
    color: #fff;
    padding-top: 33px;
    visibility: hidden;
    opacity: 0;
  }
  
  .teams:hover .inner_img {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .hover_content {
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  
  .inner_img:hover .hover_content {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  
  .hover_content ul li i {
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .hover_content ul li i:hover {
    background: #000;
    color: #fff;
  }


  
  .feedback_section {
    background-image: url(https://sktperfectdemo.com/demos/education/wp-content/themes/LMS/blocks/home_section7/assets/img/home-section7-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  
  .feedbace_img {
    background: transparent;
    width: 130px;
    height: 126px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: auto;
  }
  
  .feedbace_img img {
    max-width: 100%;
    border-radius: 50%;
    width: 107px;
    margin-top: 8px;
  }
  
  .before_quate {
    position: relative;
    text-align: left;
    font-size: 15px;
    padding: 0 149px;
    line-height: 25px;
    font-style: italic;
    font-weight: 500;
  }
  
  .before_quate::before {
    content: "\f10d";
    position: absolute;
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    left: 63px;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 55px;
    font-size: 28px;
    font-style: normal;
    text-align: center;
  }

  .carousel-control-next-icon {
	margin-top: 273px;
    margin-right: -100px;
}
.carousel-control-prev-icon {
	margin-top: 273px;
	margin-left: -100px;
}
  
  .news-item{
      margin-top: -145px;
  }

  .styles {
    padding: 0 1px !important;
    font-size: 14px !important;
  }
  
  .starts {
    padding-left: 0 !important;
  }
  
  .one {
    font-size: 18px;
  }
  
  .card-img-top:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .cards_hover {
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .card-img-top {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
  }
  
  .inner {
    position: absolute;
    left: 20px;
    top: -19px;
  }
  
  .inner h6 {
    background: #0f92ea;
    color: #fff;
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    font-size: 20px;
  }
  
  .inner p {
    color: #000;
    background: #fff;
    padding: 5px 9px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .footer_top {
    background: #0e77bd;
    color: #fff;
  }
  
  .f_top i {
    font-size: 27px;
    padding-top: 16px;
    margin-bottom: 9px;
  }
  
  .borders {
    border-right: 1px solid #fff;
  }
  
  .footer_section {
    background: #0b0b0b;
  }
  
  .footers p {
    font-size: 15px;
  }
  
  .footers h4 {
    text-transform: uppercase;
    font-size: 19px;
  }
  
  .footers_border {
    width: 50px;
    height: 1px;
    background: #0f92ea;
    margin: 30px 0;
  }
  
  .fotter_img img {
    width: 10%;
  }
  
  .muted2 {
    font-size: 18px;
    color: #afaeae !important;
    margin: 0;
  }
  
  .mutedp {
    margin-bottom: 42px;
  }
  
  .fotter_img img {
    width: 10%;
    width: 60px;
    height: 52px;
    float: left;
    border-radius: 6px;
    margin-right: 14px;
  }
  
  .f_four_img img {
    width: 86px;
    margin-bottom: 21px;
    border-radius: 8px;
    height: 68px;
  }
  
  .footers_two {
    margin-left: 53px;
  }
  
  .footers_two ul li {
    line-height: 41px;
  }
  
  .footers_two ul li a {
    text-decoration: none;
    color: #67727d;
  }
  
  .footer_bottom {
    background: #080808;
    color: #fff;
    border-top: 1px solid #fff;
  }
  
  .b_left p {
    padding: 0;
  }
  
  .b_right p {
    padding: 0;
  }
  /*# sourceMappingURL=style.css.map */
  